{% extends '::base.html.twig' %}

{% form_theme formFilter 'bootstrap_3_layout.html.twig' %}

{% block body %}
    <h1>{{ compte.libelle }}</h1>
    <div class="row-fluid">
        <div class="col-md-3">
            <strong>Solde : {{ compte.currentSolde|number_format(2, ',', ' ') }} €</strong> <br/>
            Prévisionnel : {{ compte.soldePrevisionnel|number_format(2, ',', ' ') }} €
            <p>
                <a href="{{ path('app_operation_post', {'compte':compte.id}) }}" class="btn btn-block btn-success">Nouvelle opération</a>
                <a href="{{ path('app_operation_index', { 'compte':compte.id }) }}?categorie=none" class="btn btn-default btn-block btn-warning">Opérations à pointer</a>
            </p>
            {{ form_start(formFilter) }}
            <div class="form-group">
                {{ form_widget(formFilter.libelle) }}
            </div>
            <div class="input-group">
                {{ form_widget(formFilter.categorie, { 'attr': {'class':'form-control'} }) }}
                <span class="input-group-btn">
                    {{ form_widget(formFilter.filter, { 'attr': {'class':'btn btn-default'} }) }}
                </span>
            </div>
            {{ form_end(formFilter) }}
        </div>
        <div class="col-md-9">
            <table class="table table-bordered table-condensed table-striped">
                <tr>
                    <th class="text-center width100">Date opération</th>
                    <th class="text-center width100">Date valeur</th>
                    <th class="text-center width100">Mode</th>
                    <th class="text-center">Libellé</th>
                    <th class="text-center width100">Débit</th>
                    <th class="text-center width100">Crédit</th>
                </tr>

                {# table body #}
                {% for operation in pagination %}
                    <tr {% if loop.index is odd %}class="color"{% endif %}>
                        <td class="text-center">{{ operation.dateOperation|date('d/m/Y')}}</td>
                        <td class="text-center">{{ operation.dateValeur is not null ? operation.dateValeur|date('d/m/Y') : null }}</td>
                        <td class="">{{ operation.modePaiement }}</td>
                        <td class="">
                            <span class="label label-primary">{{ operation.categorie }}</span>
                            <a href="{{ path('app_operation_put', { 'operation':operation.id }) }}">{{ operation.libelle }}</a>
                        </td>
                        {% if operation.montant > 0 %}
                            <td class="text-right"></td>
                            <td class="text-right text-success">{{ operation.montant|number_format(2, ',', ' ') }} €</td>
                        {% else %}
                            <td class="text-right text-danger">{{ operation.montant|abs|number_format(2, ',', ' ') }} €</td>
                            <td class="text-right"></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}