{% extends '::base.html.twig' %}

{% block body %}
    <h1>
        {{ compte.libelle }}
        <a href="{{ path('app_compte_index') }}" class="btn btn-sm btn-default">Retour à la liste</a>

    </h1>
    <div class="row-fluid">
        <div class="col-md-2">
            <p>
                <strong>Solde : {{ compte.currentSolde|number_format(2, ',', ' ') }} €</strong> <br/>
                Prévisionnel : {{ compte.soldePrevisionnel|number_format(2, ',', ' ') }} €
            </p>
            <p>
                <a href="{{ path('app_operation_post', {'compte':compte.id}) }}" class="btn btn-sm btn-block btn-success">Nouvelle opération</a>
                <a href="{{ path('app_pointage_index') }}" class="btn btn-sm btn-block btn-primary">Pointage</a>
            </p>
        </div>
        <div class="col-md-10">
            <table class="table table-bordered table-condensed table-striped">
                <tr>
                    <th class="text-center col-lg-1">Date opération</th>
                    <th class="text-center col-lg-1">Date valeur</th>
                    <th class="text-center col-lg-1">Mode</th>
                    <th class="text-center">Libellé</th>
                    <th class="text-center width100">Débit</th>
                    <th class="text-center width100">Crédit</th>
                </tr>

                {# table body #}
                {% for operation in pagination %}
                    <tr {% if loop.index is odd %}class="color"{% endif %}>
                        <td class="text-center">{{ operation.dateOperation|date('d/m/Y')}}</td>
                        <td class="text-center">{{ operation.dateValeur is not null ? operation.dateValeur|date('d/m/Y') : null }}</td>
                        <td class="">{{ operation.modePaiement }}</td>
                        <td class=""><a href="{{ path('app_operation_put', { 'operation':operation.id }) }}">{{ operation.libelle }}</a></td>
                        {% if operation.montant > 0 %}
                            <td class="text-right"></td>
                            <td class="text-right text-success">{{ operation.montant|number_format(2, ',', ' ') }} €</td>
                        {% else %}
                            <td class="text-right text-danger">{{ operation.montant|abs|number_format(2, ',', ' ') }} €</td>
                            <td class="text-right"></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}